@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: linear-gradient(135deg, #1e1f3a, #3c3f5a);
  --text-color: #ffffff;
  --input-bg: linear-gradient(135deg, #3c3f5a, #25273e);
  --bubble-bg: linear-gradient(180deg, #393c63, #505375);
  --border-color: #3f3f5a;
  --scroll-thumb: linear-gradient(135deg, #25273e, #3c3f5a);
  --scroll-thumb-hover: linear-gradient(135deg, #32344d, #464866);
  --placeholder-color: #CCCCCC;
  --header-bg: #282c34;
  --toggle-track: #505375;
  --toggle-thumb: #d8dbe0;
  --language-btn-bg: #ffcc00;
  --language-btn-color: #333;
  --language-btn-hover: #ff9900;
  --bg-gameInput: linear-gradient(180deg, #393c63, #505375);
  --gameInput-hover: #505375;
  --background-drop-down-burger: #1f1f2e;
}

body.light-theme {
  --bg-color: #f8f4f2;
  --text-color: #000000;
  --input-bg: rgba(255, 255, 255);
  --bubble-bg: rgba(255, 255, 255);
  --border-color: #ccd6e0;
  --scroll-thumb: #c1ccd9;
  --scroll-thumb-hover: #9aa7b8;
  --placeholder-color: #7c8591;
  --header-bg: #eeeae7;
  --toggle-track: #c1ccd9;
  --toggle-thumb: #5f8fff;
  --language-btn-bg: #5f8fff;
  --language-btn-color: #ffffff;
  --language-btn-hover: #376fd6;
  --bg-gameInput: rgba(255, 255, 255, 0.9);
  --gameInput-hover: rgba(230, 230, 230, 0.9);
  --background-drop-down-burger: #ffffff;

}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat";
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: var(--bg-color);
  overflow-y: auto;
  min-height: 100vh;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: var(--header-bg);
  pointer-events: none;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 930px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 70px 20px 120px;

}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0.5;
    transform: translateX(70px);
  }

  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}

.hidden {
  animation: slideOut 1.5s ease-in-out forwards;
}

.textHeader {
  font-family: "DM Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 22.13px;
  text-align: left;
  color: var(--text-color);
}

.header {
  color: var(--text-color);
}

.welcome {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 1.5s ease-in-out forwards;
  color: var(--text-color);
  font-size: 24px;
  text-align: center;
}

.hi {
  margin-bottom: 100px;
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.msg {
  padding: 10px 12px;
  display: inline-block;
  margin-bottom: 10px;
  max-width: 80%;
  background: var(--bubble-bg);
  color: var(--text-color);
  border-radius: 8px;
  width: max-content;
  line-height: 1.6;
  text-align: justify;

}

.msg p {
  text-indent: 1.5em;
}

.msgWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  min-height: calc(100vh - 200px);
}

.msg-wrapper::-webkit-scrollbar {
  opacity: 0;
}

.msg.my-msg {
  margin-left: auto;

}

.my-msg {
  color: var(--text-color);
  padding: 10px 12px;
  display: inline-block;
  width: max-content;
  max-width: 70%;
  margin-bottom: 10px;
  line-height: 1.6;

}

ol {
  list-style-position: inside;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  max-width: 1000px;
  border-radius: 12px;
  background: var(--input-bg);
  padding: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  min-height: 80px;
  height: auto;
}

.popup {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bubble-bg);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
  width: 50%;
  overflow-x: hidden;

}

.popupContent {
  position: relative;
  font-size: 16px;
  color: var(--text-color);
  max-height: 50vh;
  margin: 5px 5px 10px 5px;
  white-space: pre-line;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}



.closeBtn {
  position: absolute;
  top: -18px;
  right: -26px;
  background: var(--language-btn-bg);
  color: var(--language-btn-color);
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.inputText {
  width: 100%;
  background: transparent;
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  resize: none;
  width: 100%;
  min-height: 40px;
  resize: none;
  overflow-y: auto;
  max-height: 200px;
}

.detailsBlock {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.details {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 6px;
  color: var(--placeholder-color);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.detailsIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.inputText::placeholder {
  color: var(--placeholder-color);
}

.inputContainer {
  width: 100%;
}

.send,
.voice {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.voiceContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.recordingIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1s infinite;
}


@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--header-bg);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.languageButton {
  background-color: var(--language-btn-bg);
  border: none;
  color: var(--language-btn-color);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 8px;
}

.languageButton:hover {
  background-color: var(--language-btn-hover);
}

.languageButton img {
  width: 16px;
  height: 16px;
}

.toggleSwitch {
  position: relative;
  width: 60px;
  height: 30px;
}

label {
  position: absolute;
  background-color: var(--toggle-track);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.checkboxTheme {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked~.slider {
  background-color: #d8dbe0;
}

.slider::before {
  content: "";
  position: absolute;
  background-color: #505375;
  transition: 0.3s;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 8px -2px 0px 0px #d8dbe0;
}

input:checked~.slider::before {
  background-color: var(--toggle-thumb);
  box-shadow: none;
  transform: translateX(30px);
}


.gameInput {
  background: var(--bg-gameInput);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  width: 300px;
  transition: border 0.2s ease, box-shadow 0.2s
}

.gameInput::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}

.gameInput:focus {
  border-color: var(--language-btn-bg);
  outline: none;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dropdownList {
  margin-top: 4px;
  background: var(--bubble-bg);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 4px 0;
  position: absolute;
  width: 300px;
  z-index: 10;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  color: var(--text-color);
}

.dropdownItem:hover {
  background-color: var(--gameInput-hover);
}

.spinner {
  display: flex;
  align-items: center;
  margin: 8px 0 0 12px;
  font-size: 14px;
  color: var(--placeholder-color);
  font-style: italic;
  gap: 8px;

}

.spinner img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  animation: spin 1s linear infinite;
  transform-origin: center;
  flex-shrink: 0;
}

.details {
  background: none;
  border: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 319px) and (max-width: 767px) {
  .wrapper {
    padding: 105px 10px 100px;
  }

  .popup {
    width: 90%;
    padding: 15px 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }

  .popupContent {
    font-size: 14px;
    max-height: 60vh;
    margin: 5px;
  }

  .closeBtn {
    right: -20px;
    width: 20px;
    height: 20px;
  }

  .msg {
    max-width: 90%;
  }

  .input {
    width: 95%;
    bottom: 15px;
    padding: 8px;
    min-height: 70px;
    gap: 8px;
  }


  .inputText {
    font-size: 15px;
    padding: 8px;
    max-height: 150px;
  }

  .gameInput {
    width: 130%;
    font-size: 14px;
  }

  .gameList {
    position: relative;
  }

  .dropdownList {
    width: 130%;
    position: absolute;
  }

  .languageButton {
    padding: 6px 10px;
    font-size: 13px;
    width: fit-content;
  }

  .header {
    gap: 10px;
    padding: 10px;
  }

  .welcome {
    font-size: 20px;
  }

  .textHeader {
    font-size: 15px;
  }

}

@media all and (min-width: 767px) and (max-width: 1279px) {
  .wrapper {
    padding: 70px 20px 110px;
  }

  .popup {
    width: 70%;
    padding: 20px 25px;
    top: 48%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  .popupContent {
    font-size: 15px;
    max-height: 60vh;
    margin: 5px 10px;
  }

  .closeBtn {
    top: -16px;
    right: -24px;
    width: 22px;
    height: 22px;
  }

  .input {
    width: 90%;
    bottom: 18px;
    padding: 10px;
    min-height: 75px;
  }


  .inputText {
    font-size: 16px;
    max-height: 180px;
  }

  .gameInput {
    width: 130%;
    font-size: 14px;
  }

  .gameList {
    position: relative;
  }

  .dropdownList {
    width: 130%;
    position: absolute;
  }

  .languageButton {
    padding: 7px 11px;
    font-size: 14px;
  }

  .header {
    padding: 10px 16px;
  }

  .welcome {
    font-size: 22px;
  }

  .textHeader {
    font-size: 16px;
  }
}

.desktopOnly {
  display: none;
}

.mobileOnly {
  display: block;
}


.burgerIcon {
  cursor: pointer;
  padding: 10px;
  z-index: 2000;
  width: 55px;

}

.burgerIcon img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burgerIcon.menuOpen img {
  transform: rotate(90deg) scale(1.1);
}

.burgerIcon:active img {
  transform: scale(0.95);
}

.mobileMenu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--header-bg);
  color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  padding: 35px;
  z-index: 1000;
  display: flex;
  gap: 12px;
  min-width: 180px;
  width: 100%;
  animation: slideFadeIn 0.3s ease forwards;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .desktopOnly {
    display: block;
  }

  .mobileOnly,
  .mobileMenu {
    display: none;
  }
}